# Ignore everything
*

# But not the contracts directory
!contracts/
!contracts/**

# Still ignore node_modules even if in contracts
contracts/node_modules/

# Common development files and directories
node_modules
.env
/cache
/artifacts
/typechain
/typechain-types
/coverage
/coverage.json
ignition/deployments/chain-31337


# These files need to be explicitly ignored with a leading /
package.json
hardhat.config.js
yarn.lock
